@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/roboto.woff2) format('woff2');
    }
}
@layer base {
    @font-face {
      font-family: 'Alegreya';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/alegreya.woff2) format('woff2');
    }
}
@layer base {
    @font-face {
      font-family: 'Alegreya-sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/algreyasans.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/oswald.woff2) format('woff2');
    }
}